<header id="header">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae sem condimentum lectus venenatis faucibus. Mauris sed
    tortor ultricies, dictum sapien sed, imperdiet odio. Nunc pretium dolor eget libero luctus consectetur. Mauris tincidunt,
    massa non ullamcorper dapibus, lectus purus hendrerit ipsum, ac consequat orci magna egestas magna. Cras congue mauris
    vel magna viverra, ac faucibus diam dictum. Curabitur eget magna massa. Ut placerat interdum odio, sed sollicitudin tellus
    malesuada sed. Duis finibus vestibulum nibh, a aliquet mauris maximus non. Mauris ultrices lectus lacus, et convallis
    purus fringilla eget. Aenean pharetra ut sem non efficitur. Phasellus ullamcorper velit nec luctus efficitur. Donec sit
    amet mauris ipsum. Donec non sem ex. Phasellus dapibus consequat vulputate.
</header>
<nav id="nav">
    <a href="#">Nav 1</a>
    <a href="#">Nav 2</a>
    <a href="#">Nav 3</a>
    <a href="#">Nav 4</a>
    <a href="#">Nav 5</a>
</nav>
<div id="container">
    <article id="main">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae sem condimentum lectus venenatis faucibus. Mauris sed
            tortor ultricies, dictum sapien sed, imperdiet odio. Nunc pretium dolor eget libero luctus consectetur. Mauris
            tincidunt, massa non ullamcorper dapibus, lectus purus hendrerit ipsum, ac consequat orci magna egestas magna.
            Cras congue mauris vel magna viverra, ac faucibus diam dictum. Curabitur eget magna massa. Ut placerat interdum
            odio, sed sollicitudin tellus malesuada sed. Duis finibus vestibulum nibh, a aliquet mauris maximus non. Mauris
            ultrices lectus lacus, et convallis purus fringilla eget. Aenean pharetra ut sem non efficitur. Phasellus ullamcorper
            velit nec luctus efficitur. Donec sit amet mauris ipsum. Donec non sem ex. Phasellus dapibus consequat vulputate.
            Suspendisse bibendum nulla at velit rhoncus, aliquam blandit sapien commodo. Mauris molestie nunc eget lectus
            iaculis facilisis. Sed lacinia, augue vehicula bibendum bibendum, elit nisi vestibulum urna, vitae rhoncus arcu
            felis id nulla. Pellentesque gravida eleifend nisl, non fringilla lorem. Nulla facilisi. Etiam id euismod neque,
            vitae porta arcu. Sed eu neque felis. Pellentesque eget consectetur dui. Vivamus suscipit libero sit amet mi
            tincidunt, sed vehicula leo facilisis. Integer rutrum sem suscipit tortor tempus tincidunt. Ut sem justo, aliquet
            sit amet nibh ac, scelerisque semper risus. Maecenas in sagittis ligula. Vestibulum ac finibus turpis. Ut pretium,
            orci vel mollis fringilla, massa quam mattis mauris, eget aliquet mauris ipsum sit amet magna. Praesent pretium
            facilisis ex, et porta diam commodo at. Etiam euismod, est a porttitor venenatis, tellus diam hendrerit lorem,
            consectetur accumsan leo leo eget orci. Sed vitae fringilla nulla. Ut in ornare lectus. Praesent fermentum dolor
            sit amet mi efficitur auctor. Nulla ut malesuada velit. Aliquam dapibus, enim in posuere mattis, nisi enim hendrerit
            velit, at sollicitudin velit nibh condimentum ante. Mauris pretium sem eget sapien vulputate vestibulum. Ut metus
            sapien, pellentesque eu convallis et, bibendum sed nibh. Mauris mollis nibh ut tellus pharetra venenatis. Nulla
            sem tellus, sodales id varius id, tempor sit amet purus. Ut dictum ligula et urna eleifend, at sagittis lectus
            congue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ac sapien
            mattis, hendrerit sem id, faucibus nisi. Nam sit amet pellentesque libero. Suspendisse potenti. Pellentesque
            arcu eros, dignissim vitae sodales sit amet, tristique non neque. Pellentesque facilisis mi hendrerit, bibendum
            leo quis, laoreet mi. Nunc vestibulum blandit mi, sed gravida sem sodales sit amet. Sed semper imperdiet tellus
            non posuere. Proin luctus augue non hendrerit laoreet. Integer vel pulvinar sapien.
        </p>
    </article>
    <aside id="aside">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae sem condimentum lectus venenatis faucibus. Mauris sed
        tortor ultricies, dictum sapien sed, imperdiet odio. Nunc pretium dolor eget libero luctus consectetur. Mauris tincidunt,
        massa non ullamcorper dapibus, lectus purus hendrerit ipsum, ac consequat orci magna egestas magna. Cras congue mauris
        vel magna viverra, ac faucibus diam dictum. Curabitur eget magna massa. Ut placerat interdum odio, sed sollicitudin
        tellus malesuada sed. Duis finibus vestibulum nibh, a aliquet mauris maximus non. Mauris ultrices lectus lacus, et
        convallis purus fringilla eget. Aenean pharetra ut sem non efficitur. Phasellus ullamcorper velit nec luctus efficitur.
        Donec sit amet mauris ipsum. Donec non sem ex. Phasellus dapibus consequat vulputate.
    </aside>
</div>
<footer id="footer">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae sem condimentum lectus venenatis faucibus. Mauris sed
    tortor ultricies, dictum sapien sed, imperdiet odio. Nunc pretium dolor eget libero luctus consectetur. Mauris tincidunt,
    massa non ullamcorper dapibus, lectus purus hendrerit ipsum, ac consequat orci magna egestas magna. Cras congue mauris
    vel magna viverra, ac faucibus diam dictum.
</footer>